.case {
    list-style: none;
    display: flex;
}

.case p {
    background: var(--grey);
    padding: 0.6rem;
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    transition: var(--transition);
}

.match-text {
    text-align: center;
    width: 3rem;
}

.literal {
    font-family: var(--font-mono);
}

.case span {
    padding: 0.5rem;
    transition: var(--transition);
}

.literal {
    flex-grow: 1;
}
