button {
    display: block;
    background: var(--black);
    color: var(--light-grey);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: var(--transition);
    box-sizing: border-box;
}

button:hover {
    cursor: pointer;
    background: #505050;
}
