@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --font: "Titillium Web", "sans-serif";
    --font-mono: "Source Code Pro", "monospace";
    --light-grey: #f5f5f5;
    --grey: #eaeaea;
    --dark-grey: #404040;
    --border-radius: 0.4rem;
    --transition: all 150ms ease-in-out;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font);
}

body {
    color: var(--dark-grey);
    background-color: var(--light-grey);
}
