@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font: "Titillium Web", sans-serif;
  --font-mono: "Source Code Pro", monospace;

  --bg-color: #202020;
  --black-dark: #1a1a1a;
  --black: #2b2b2b;
  --black-light: #303030;
  --grey: #a0a0a0;
  --text-color: #d0d0d0;
  --transition: all 150ms ease-in-out;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
  font-family: var(--font);
}

#root {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 2rem;
}
