#root {
    max-width: 700px;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 2rem;
}

.title {
    text-align: center;
    font-weight: 700;
}

.subtitle {
    text-align: center;
}

.nav {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.icon {
    color: #a0a0a0;
    text-decoration: none;
    transition: var(--transition);
}

.icon:hover {
    color: var(--dark-grey);
}

.outlet {
    height: 20rem;
    margin-top: 2rem;
}
