.input {
    display: flex;
    gap: 1rem;
    height: 3rem;
}

.input input {
    font-family: var(--font-mono);
    font-size: 1.2rem;

    flex: 1 1 0;
    min-width: 0;
    padding: 0.4rem;

    outline: none;

    border: 2px solid var(--black-light);
    border-radius: 8px;

    color: var(--text-color);
    background: var(--black-dark);

    transition: var(--transition);
}

.input input:focus {
    border: 2px solid #505050;
}

.input button {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: monospace;
    font-size: 1.2rem;
    width: 4rem;

    border: 2px solid #444;
    border-radius: 8px;

    color: var(--text-color);
    background: var(--black);

    transition: var(--transition);
}

.input button:hover {
    background-color: var(--black-light);
    border-color: #505050;
    cursor: pointer;
}

.input button:disabled {
    background-color: var(--black);
    border: 2px solid var(--black-light);
    color: #777;
    opacity: 0.6;
    cursor: not-allowed;
    /* background: var(--black);
    border: 2px solid var(--black);
    cursor: default; */
}