.center {
    text-align: center;
}

.content {
    margin: 2rem 0;
    margin-top: 5rem;
    min-height: 20rem;
}

nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.icon {
    font-size: 1.5rem;
    color: var(--grey);
    transition: var(--transition);
}

.icon:hover {
    color: var(--text-color)
}