@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --font-family: "source code pro", monospace;
    --primary: #6666ff;
    --default-transition: all 100ms ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.regex-input {
    width: 80%;
    max-width: 40rem;
    margin-top: 4rem;
}

.text-input {
    height: 2.4rem;
    width: 100%;
    font-family: var(--font-family);
    font-size: 1.1rem;
    outline: none;
    border: 2px solid #cccccc;
    padding: 0 0.4rem;
    border-radius: 5px;
    box-sizing: border-box;
    transition: var(--default-transition);
}

.text-input:focus {
    /*border-color: #9598fc;*/
    border-color: var(--primary);
}


.cases {
    box-sizing: border-box;
    background: #dfdfdf;
    margin-top: 2rem;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
}

.case {
    display: flex;
    align-items: center;
    height: 2rem;
}

.case > * {
    transition: var(--default-transition);
}

.case p {
    width: 100%;
    font-family: var(--font-family);
}

.match-text {
    padding: 0 0.6rem;
    font-weight: 600;
}

.match-color {
    width: 1rem;
    height: 100%;
}

.buttons {
    margin-top: 4rem;
}

.buttons > * {
    color: #aaaaaa;
    transition: var(--default-transition);
}

.buttons > *:hover {
    cursor: pointer;
    color: var(--primary);
}
