@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
} 

body {
    background: #eaeaea;
    color: #333333;
    font-family: 'Titillium Web', 'sans-serif';
}

:root {
    --font-family: "source code pro", monospace;
    --primary: #222222;
    --primary-light: #555555;
    --grey: #bababa;
    --grey-light: #dfdfdf;
    --light: #eeeeee;
    --default-transition: all 100ms ease-in-out;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.regex-input {
    width: 80%;
    max-width: 40rem;
    margin-top: 4rem;
}

.text-input {
    height: 2.4rem;
    width: 100%;
    font-family: var(--font-family);
    font-size: 1.1rem;
    outline: none;
    border: 2px solid var(--grey);
    padding: 0 0.4rem;
    border-radius: 5px;
    box-sizing: border-box;
    transition: var(--default-transition);
}

.text-input:focus {
    border-color: var(--primary);
}

.input-div {
    display: flex;
}

.input-div input {
    margin-right: 0.2rem;
}

.submit {
    background: var(--grey);
    padding: 0 1rem;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 150ms ease-in-out;
    border: none; 
}
.submit-done {
    background: var(--primary);
    cursor: pointer;
}

.submit-done:hover {
    background: var(--primary-light);
    cursor: pointer;
}

.cases {
    box-sizing: border-box;
    background: var(--grey-light);
    margin-top: 2rem;
    list-style: none;
    border-radius: 5px;
    overflow: hidden;
}

.case {
    display: flex;
    align-items: center;
    height: 2rem;
}

.case > * {
    transition: var(--default-transition);
}

.case p {
    width: 100%;
    font-family: var(--font-family);
}

.match-text {
    padding: 0 0.6rem;
    font-weight: 600;
}

.match-color {
    width: 1rem;
    height: 100%;
}

.buttons {
    margin-top: 4rem;
}

.buttons > * {
    color: var(--grey);
    transition: var(--default-transition);
}

.buttons > *:hover {
    cursor: pointer;
    color: var(--primary-light);
}

.action-button {
    color: var(--light);
    background: var(--primary);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1.2rem;
}


.action-button:hover {
    color: var(--light);
    background: var(--primary-light);
    cursor: pointer;
}
