.login {
    display: flex;
    flex-direction: column;
    height: 80%;
}

.login-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-btn button {
    background: var(--black);
    color: var(--light-grey);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: var(--transition);
}

.login-btn button:hover {
    cursor: pointer;
    background: #505050;
}
